*{
	box-sizing: border-box;
}
html, body{
	height: 100%;
}
body{
	position: relative;
	margin: 0;
	padding-bottom: 50px;
}
header{
	width: 100%;
	display: table;
	background-color: #ECF3F3;
	text-align: center;
	height: 50px;
}
header strong{
	display: table-cell;
	vertical-align: middle;
	color: #3498db;
	font-size: 45px;
}
footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	display: table;
	background-color: black;
	left: 0;
	right: 0;
	height: 50px;
	text-align: center;
}
footer strong{
	display: table-cell;
	vertical-align: middle;
	font-size: 20px;
	color: white;
}
#app{
	height: 90%;
}
.container{
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 10px 0;
}
.container h3{
	display: table-row;
	vertical-align: top;
}
.main{
	height: 100%;
	display: table-cell;
}
#start-btn{
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.activity-section{
	width: 80%;
	display: inline-block;
	height: 100%;
}
.status-section{
	width: 20%;
	display: inline-block;
	height: 100%;
	vertical-align: top;
	background-color: #95a5a6;
	padding: 10px;
	padding-left: 10px!important;
}
.status-section li{
	width: 100%;
	height: 50px;
}
.status-section span{
	display: block;
}
.status-name{
	float: left;
}
.status-hits{
	float: right;
}
.images-wrapper{
    width: 100%;
    display: table;
    height: 100%;
}
.images-wrapper section{
	display: table-cell;
    width: 50%;
    vertical-align: middle;
} 
.pics{
	width: 200px;
	margin: 0 auto;
	cursor: pointer;
}
.pics img{
	width: 100%;
	height: 200px;
}

